<body>

    <div id="main-container" class="d-flex">

        <!-- SIDE MENU -->
        <div id="side-menu">

            <div class="main-nav text-center">
                <div class="main-nav__logo">
                    <a href="index.html">
                        <div class="logo"></div>
                    </a>
                </div>
                <div class="main-nav__item" >
                    <a href="#" class="dashboard"><i class='bx bx-home-alt icon'></i><br>Dashboard</a>
                </div>
                <div class="main-nav__item">
                    <a href="#"><i class='bx bxs-truck icon'></i><br>Cars</a>
                </div>
            </div>
        </div>
        <!-- END OF SIDE MENU -->
        
        <!-- MAIN -->
        <div id="main">
            
            <!-- ======= HEADER  ======= -->
            <div id="header" class="header">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <div class="col">
                                    <div class="logo-panjang"></div>
                                </div>
                            </div>
                        </div> <!-- End of Long Logo -->

                        <div class="col">
                            <div class="d-flex">
                                <div class="col-auto">
                                    <a href="#" class="menu-btn">
                                        <i class='bx bx-menu'></i>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- End of Burger Menu -->

                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <div class="col-auto">
                                    <div class="d-flex align-items-center">
                                        <form class="search-form d-flex align-items-center">
                                            <i class='bx bx-search'></i>
                                            <input type="text" placeholder="Search" class="search-input" title="Enter search keyword">
                                        </form>
                                        <button type="submit" title="Search" class="search-btn">Search</button>
                                    </div>
                                </div> <!-- End of Search Bar -->

                                <div class="col-auto">
                                    <div class="row">
                                        <div class="user-img">
                                            <div class="profile-pic rounded-circle d-flex  justify-content-center">
                                                <span class="initial-uname d-flex align-items-center justify-content-center">U</span>
                                            </div>
                                        </div>
                                        <div class="user-name d-flex align-items-center justify-content-center">
                                            <span class="uname">Unis Badri</span>
                                        </div>
                                        <div class="user-menu d-flex align-items-center justify-content-center">
                                            <div class="user-menu__dropdown">
                                                <button class="btn menu-btn" type="button" id="dropdown-menu" data-toggle="dropdown" aria-expanded="false">
                                                    <i class='bx bx-chevron-down bx-sm'></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu">
                                                  <button class="dropdown-item" type="button">Action</button>
                                                  <button class="dropdown-item" type="button">Another action</button>
                                                  <button class="dropdown-item" type="button">Something else here</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  <!-- End of User Header -->

                            </div>
                        </div> <!-- End of User Header -->

                    </div>
                </div>
            </div>
            <!-- ======= END OF HEADER ======= -->

            <!-- ======= CONTENT  ======= -->

            <div id="content">
                <div class="col">
                    <div class="row">
                        
                        <div class="right-menu">
                            <div class="col-auto">
                                <div class="side-menu">
                                    <div class="side-menu__title">
                                        <h5>DASHBOARD</h5>
                                    </div>
                                    <div class="side-menu__link">
                                        <a href="#">Dashboard</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End of Left Content -->

                        <div class="col">
                            <div id="right-content">
                                <div class="content-title">
                                    <nav>
                                        <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                        <i class='bx bx-chevron-right'></i> 
                                        <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </nav>
                                    <h1>Dashboard</h1>
                                </div><!-- End Page Title -->
                
                                <div class="content-table d-flex flex-column ">
                                    <div class="col">
                                        <div class="list-title">
                                            <h2><a href="#">List Order</a></h2>
                                        </div>
                                    </div> <!-- End of List Title -->
                
                                    <div class="col">
                                        <div class="row">
                                
                                            <table class="table datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">No</th>
                                                        <th scope="col">User Email
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Car
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Start Rent
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Finish Rent
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Price
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Status
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>User Email</td>
                                                        <td>Car</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Price</td>
                                                        <td>Status</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div> <!-- End of List Table -->
                
                                    <div id="list-footer">
                                        <div class="container-fluid">
                                            <div class="row">
                                                
                                                <div class="col-auto">
                                                    <div class="d-flex align-items-center">
                                                        <div class="col">
                                                            <div class="table-pagination">
                                                                <div class="limit__title">Limit</div>
                                                                <div class="limit__dropdown">
                            
                                                                    <button class="btn btn-limit" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                                                        <span>10</span><i class='bx bx-chevron-down'></i>
                                                                    </button>
                                                                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item" href="#">10</a>
                                                                        <a class="dropdown-item" href="#">15</a>
                                                                        <a class="dropdown-item" href="#">20</a>
                                                                    </div>
                            
                                                                </div>
                                                        </div>
                                                    </div>
                                                    </div>  
                                                </div>
                    
                                                <div class="col">
                                                    <div class="d-flex">
                                                        <div class="col-auto">
                    
                                                            <div class="jump-page__title">Jump to page</div>
                                                            <div class="jump-page__dropdown">
                                                                <button class="btn btn-jumpPage" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                                                    <span class="text d-flex justify-content-between">1<i class='bx bx-chevron-down'></i></span>
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" href="#">1</a>
                                                                    <a class="dropdown-item" href="#">2</a>
                                                                    <a class="dropdown-item" href="#">3</a>
                                                                    <a class="dropdown-item" href="#">4</a>
                                                                    <a class="dropdown-item" href="#">5</a>
                                                                    <a class="dropdown-item" href="#">6</a>
                                                                    <a class="dropdown-item" href="#">7</a>
                                                                    <a class="dropdown-item" href="#">8</a>
                                                                    <a class="dropdown-item" href="#">9</a>
                                                                </div>
                                                                <button class="btn btn-go">Go</button>
                                                            </div>
                    
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="col-auto">
                                                    <div class="d-flex ">
                                                        
                                                        <div class="col">
                                                            <nav aria-label="Page navigation example">
                                                                <ul class="pagination">
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="#" aria-label="Previous">
                                                                            <i class='bx bxs-chevrons-left'></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                                                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="#" aria-label="Next">
                                                                            <i class='bx bxs-chevrons-right'></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </nav>
                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- End of Pagination -->
                    
                                        </div>
                                    </div> <!-- End of List Footer --> 
                                
                                </div> <!-- End of Table Order -->
                
                                <div class="content-table list-car d-flex flex-column ">
                                    <div class="col">
                                        <div class="list-title">
                                            <h2><a href="#">List Car</a></h2>
                                        </div>
                                    </div> <!-- End of List Title -->
                
                                    <div class="col">
                                        <div class="row">
                                
                                            <table class="table datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">No</th>
                                                        <th scope="col">Name
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Category
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Price
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Start Rent
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Finish Rent
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Created at
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                        <th scope="col">Updated at
                                                            <i class='bx bxs-sort-alt float-right'></i>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>Name</td>
                                                        <td>Category</td>
                                                        <td>Price</td>
                                                        <td>Start Rent</td>
                                                        <td>Finish Rent</td>
                                                        <td>Created at</td>
                                                        <td>Updated at</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div> <!-- End of List Table -->
                
                                    <div id="list-footer">
                                        <div class="container-fluid">
                                            <div class="row">
                                                
                                                <div class="col-auto">
                                                    <div class="d-flex align-items-center">
                                                        <div class="col">
                                                            <div class="table-pagination">
                                                                <div class="limit__title">Limit</div>
                                                                <div class="limit__dropdown">
                            
                                                                    <button class="btn btn-limit" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                                                        <span>10</span><i class='bx bx-chevron-down'></i>
                                                                    </button>
                                                                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item" href="#">10</a>
                                                                        <a class="dropdown-item" href="#">15</a>
                                                                        <a class="dropdown-item" href="#">20</a>
                                                                    </div>
                            
                                                                </div>
                                                        </div>
                                                    </div>
                                                    </div>  
                                                </div>
                    
                                                <div class="col">
                                                    <div class="d-flex">
                                                        <div class="col-auto">
                    
                                                            <div class="jump-page__title">Jump to page</div>
                                                            <div class="jump-page__dropdown">
                                                                <button class="btn btn-jumpPage" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                                                    <span class="text d-flex justify-content-between">1<i class='bx bx-chevron-down'></i></span>
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" href="#">1</a>
                                                                    <a class="dropdown-item" href="#">2</a>
                                                                    <a class="dropdown-item" href="#">3</a>
                                                                    <a class="dropdown-item" href="#">4</a>
                                                                    <a class="dropdown-item" href="#">5</a>
                                                                    <a class="dropdown-item" href="#">6</a>
                                                                    <a class="dropdown-item" href="#">7</a>
                                                                    <a class="dropdown-item" href="#">8</a>
                                                                    <a class="dropdown-item" href="#">9</a>
                                                                </div>
                                                                <button class="btn btn-go">Go</button>
                                                            </div>
                    
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="col-auto">
                                                    <div class="d-flex ">
                                                        
                                                        <div class="col">
                                                            <nav aria-label="Page navigation example">
                                                                <ul class="pagination">
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="#" aria-label="Previous">
                                                                            <i class='bx bxs-chevrons-left'></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                                                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="#" aria-label="Next">
                                                                            <i class='bx bxs-chevrons-right'></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </nav>
                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- End of Pagination -->
                    
                                        </div>
                                    </div> <!-- End of List Footer --> 
                                
                                </div> <!-- End of Table Car -->
                            </div>
                        </div> <!-- End of Right Content -->

                    </div>
                </div>

            </div> <!-- End of Main Content -->

            <!-- ======= END OF CONTENT ======= -->

        </div>
        <!-- END OF MAIN -->

    </div>

    
    <!-- footer html di sini -->
    <%- include('../partials/html/footer') %>

</body>