<div class="login-container d-flex">

    <div class="img-side">
        <div class="login-img">
            <img src="/img/login.png" alt="" class="img-car">
        </div>
    </div> <!-- End of image cover -->

    <div class="form-side">
        <div class="col login-form">
            <div class="logo-panjang"></div>
            <h1>Welcome, Admin BCR</h1>
            <form>
                <a href="/auth/login" class="btn btn-enter text-center">Sign In Here</a>
            </form>
            <p class="register mt-1">Belum punya akun? <a href="/auth/register">Register</a></p>
        </div>
    </div> <!-- End of form login -->

</div> <!-- End of Login Content -->
    