<div class="login-container d-flex">

    <div class="img-side">
        <div class="login-img">
            <img src="/img/login.png" alt="" class="img-car">
        </div>
    </div> <!-- End of image cover -->

    <div class="form-side">
        <div class="col login-form">
            <div class="logo-panjang"></div>
            <h1>Welcome, Admin BCR</h1>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp" placeholder="Contoh: johndee@gmail.com">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="input-password" placeholder="6+ karakter">
                </div>
                <button type="submit" class="btn btn-enter text-center">Sign In</button>
                </form>
        </div>
    </div> <!-- End of form login -->

</div> <!-- End of Login Content -->
    