<body>

    <div id="main-container" class="d-flex">

        <!-- sidebar here -->
        <%- include('../partials/layouts/sidebar') %>
        
        <!-- MAIN -->
        <div id="main">
            
            <!-- navbar here -->
            <%- include('../partials/layouts/navbar') %>

            <!-- ======= CONTENT  ======= -->
            <div id="content">

                <div class="col">
                    <div class="row">
                        
                        <!-- left content here -->
                        <%- include('../partials/cars/sidemenu') %>

                        <div class="col">
                            <div id="right-content">
                                <div class="content-title">
                                    <nav>
                                        <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Cars</a></li>
                                        <i class='bx bx-chevron-right'></i> 
                                        <li class="breadcrumb-item active">List Car</li>
                                        </ol>
                                    </nav>
                                    <h1>List Cars
                                        <a href="http://localhost:1700/cars/add" class="btn btn-add float-right"><i class='bx bx-plus'></i>&nbsp;Add New Car</a>
                                        
                                    </h1>
                                    
                                </div> <!-- End of Page Title -->
                                
                                <div class="content-car">

                                    <div class="col">
                                        <div class="row">
                                            <div class="car-sorter">
                                                <div class="btn-sorter" role="toolbar">
                                                    <button type="button" class="btn btn-sort">All</button>
                                                    <button type="button" class="btn btn-sort">Small</button>
                                                    <button type="button" class="btn btn-sort">Medium</button>
                                                    <button type="button" class="btn btn-sort">Large</button>
                                                  </div>
                                            </div>
                                        </div>
                                    </div> <!-- End of Car Sorter -->

                                    <div class="cars-card mb-4">
                                        <div class="col-12">
                                            <div class="row">

                                                <div class="col-4 card-group">
                                                    <div class="card" >
                                                        <img src="/img/car.png" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text mobil-pinjam">Nama/Tipe Mobil</p>
                                                            <h6 class="card-title harga-pinjam">Rp 430.000 / hari</h6>
                                                            <p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;Start rent - Finish rent</p>
                                                            <p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;Updated at 4 Apr 2022, 09.00</p>

                                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                                                <i class='bx bx-trash-alt'></i>&nbsp;Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content text-center">
                                                                        <div class="modal-body">
                                                                            <img src="./img/bipbip.png" alt="">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data Mobil</h5>
                                                                            <p class="modal-text">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-modal" data-dismiss="modal">Ya</button>
                                                                            <button type="button" class="btn btn-modal close"  data-dismiss="modal" aria-label="Close">Tidak</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a href="http://localhost:1700/cars/edit" class="btn btn-success"><i class='bx bx-edit'></i>&nbsp;Edit</a>
                                                        </div>
                                                      </div>
                                                </div>

                                                <div class="col-4 card-group">
                                                    <div class="card" >
                                                        <img src="/img/car.png" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text mobil-pinjam">Nama/Tipe Mobil</p>
                                                            <h6 class="card-title harga-pinjam">Rp 430.000 / hari</h6>
                                                            <p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;Start rent - Finish rent</p>
                                                            <p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;Updated at 4 Apr 2022, 09.00</p>

                                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                                                <i class='bx bx-trash-alt'></i>&nbsp;Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content text-center">
                                                                        <div class="modal-body">
                                                                            <img src="./img/bipbip.png" alt="">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data Mobil</h5>
                                                                            <p class="modal-text">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-modal" data-dismiss="modal">Ya</button>
                                                                            <button type="button" class="btn btn-modal close"  data-dismiss="modal" aria-label="Close">Tidak</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a href="http://localhost:1700/cars/edit" class="btn btn-success"><i class='bx bx-edit'></i>&nbsp;Edit</a>
                                                        </div>
                                                      </div>
                                                </div>

                                                <div class="col-4 card-group">
                                                    <div class="card" >
                                                        <img src="/img/car.png" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text mobil-pinjam">Nama/Tipe Mobil</p>
                                                            <h6 class="card-title harga-pinjam">Rp 430.000 / hari</h6>
                                                            <p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;Start rent - Finish rent</p>
                                                            <p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;Updated at 4 Apr 2022, 09.00</p>

                                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                                                <i class='bx bx-trash-alt'></i>&nbsp;Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content text-center">
                                                                        <div class="modal-body">
                                                                            <img src="./img/bipbip.png" alt="">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data Mobil</h5>
                                                                            <p class="modal-text">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-modal" data-dismiss="modal">Ya</button>
                                                                            <button type="button" class="btn btn-modal close"  data-dismiss="modal" aria-label="Close">Tidak</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a href="http://localhost:1700/cars/edit" class="btn btn-success"><i class='bx bx-edit'></i>&nbsp;Edit</a>
                                                        </div>
                                                      </div>
                                                </div>

                                            </div>
                                        </div> <!-- End of One Line Car Card -->

                                        <div class="col-12">
                                            <div class="row">

                                                <div class="col-4 card-group">
                                                    <div class="card" >
                                                        <img src="/img/car.png" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text mobil-pinjam">Nama/Tipe Mobil</p>
                                                            <h6 class="card-title harga-pinjam">Rp 430.000 / hari</h6>
                                                            <p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;Start rent - Finish rent</p>
                                                            <p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;Updated at 4 Apr 2022, 09.00</p>

                                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                                                <i class='bx bx-trash-alt'></i>&nbsp;Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content text-center">
                                                                        <div class="modal-body">
                                                                            <img src="./img/bipbip.png" alt="">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data Mobil</h5>
                                                                            <p class="modal-text">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-modal" data-dismiss="modal">Ya</button>
                                                                            <button type="button" class="btn btn-modal close"  data-dismiss="modal" aria-label="Close">Tidak</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a href="http://localhost:1700/cars/edit" class="btn btn-success"><i class='bx bx-edit'></i>&nbsp;Edit</a>
                                                        </div>
                                                      </div>
                                                </div>

                                                <div class="col-4 card-group">
                                                    <div class="card" >
                                                        <img src="/img/car.png" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text mobil-pinjam">Nama/Tipe Mobil</p>
                                                            <h6 class="card-title harga-pinjam">Rp 430.000 / hari</h6>
                                                            <p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;Start rent - Finish rent</p>
                                                            <p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;Updated at 4 Apr 2022, 09.00</p>

                                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                                                <i class='bx bx-trash-alt'></i>&nbsp;Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content text-center">
                                                                        <div class="modal-body">
                                                                            <img src="./img/bipbip.png" alt="">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data Mobil</h5>
                                                                            <p class="modal-text">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-modal" data-dismiss="modal">Ya</button>
                                                                            <button type="button" class="btn btn-modal close"  data-dismiss="modal" aria-label="Close">Tidak</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a href="http://localhost:1700/cars/edit" class="btn btn-success"><i class='bx bx-edit'></i>&nbsp;Edit</a>
                                                        </div>
                                                      </div>
                                                </div>

                                                <div class="col-4 card-group">
                                                    <div class="card" >
                                                        <img src="/img/car.png" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text mobil-pinjam">Nama/Tipe Mobil</p>
                                                            <h6 class="card-title harga-pinjam">Rp 430.000 / hari</h6>
                                                            <p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;Start rent - Finish rent</p>
                                                            <p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;Updated at 4 Apr 2022, 09.00</p>

                                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                                                <i class='bx bx-trash-alt'></i>&nbsp;Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content text-center">
                                                                        <div class="modal-body">
                                                                            <img src="./img/bipbip.png" alt="">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data Mobil</h5>
                                                                            <p class="modal-text">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-modal" data-dismiss="modal">Ya</button>
                                                                            <button type="button" class="btn btn-modal close"  data-dismiss="modal" aria-label="Close">Tidak</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a href="http://localhost:1700/cars/edit" class="btn btn-success"><i class='bx bx-edit'></i>&nbsp;Edit</a>
                                                        </div>
                                                      </div>
                                                </div>

                                            </div>
                                        </div> <!-- End of One Line Car Card -->

                                        <div class="col-12">
                                            <div class="row">

                                                <div class="col-4 card-group">
                                                    <div class="card" >
                                                        <img src="/img/car.png" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text mobil-pinjam">Nama/Tipe Mobil</p>
                                                            <h6 class="card-title harga-pinjam">Rp 430.000 / hari</h6>
                                                            <p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;Start rent - Finish rent</p>
                                                            <p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;Updated at 4 Apr 2022, 09.00</p>

                                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                                                <i class='bx bx-trash-alt'></i>&nbsp;Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content text-center">
                                                                        <div class="modal-body">
                                                                            <img src="./img/bipbip.png" alt="">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data Mobil</h5>
                                                                            <p class="modal-text">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-modal" data-dismiss="modal">Ya</button>
                                                                            <button type="button" class="btn btn-modal close"  data-dismiss="modal" aria-label="Close">Tidak</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a href="http://localhost:1700/cars/edit" class="btn btn-success"><i class='bx bx-edit'></i>&nbsp;Edit</a>
                                                        </div>
                                                      </div>
                                                </div>

                                                <div class="col-4 card-group">
                                                    <div class="card" >
                                                        <img src="/img/car.png" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text mobil-pinjam">Nama/Tipe Mobil</p>
                                                            <h6 class="card-title harga-pinjam">Rp 430.000 / hari</h6>
                                                            <p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;Start rent - Finish rent</p>
                                                            <p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;Updated at 4 Apr 2022, 09.00</p>

                                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                                                <i class='bx bx-trash-alt'></i>&nbsp;Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content text-center">
                                                                        <div class="modal-body">
                                                                            <img src="./img/bipbip.png" alt="">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data Mobil</h5>
                                                                            <p class="modal-text">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-modal" data-dismiss="modal">Ya</button>
                                                                            <button type="button" class="btn btn-modal close"  data-dismiss="modal" aria-label="Close">Tidak</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a href="http://localhost:1700/cars/edit" class="btn btn-success"><i class='bx bx-edit'></i>&nbsp;Edit</a>
                                                        </div>
                                                      </div>
                                                </div>

                                                <div class="col-4 card-group">
                                                    <div class="card" >
                                                        <img src="/img/car.png" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text mobil-pinjam">Nama/Tipe Mobil</p>
                                                            <h6 class="card-title harga-pinjam">Rp 430.000 / hari</h6>
                                                            <p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;Start rent - Finish rent</p>
                                                            <p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;Updated at 4 Apr 2022, 09.00</p>

                                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                                                <i class='bx bx-trash-alt'></i>&nbsp;Delete
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content text-center">
                                                                        <div class="modal-body">
                                                                            <img src="./img/bipbip.png" alt="">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Menghapus Data Mobil</h5>
                                                                            <p class="modal-text">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-modal" data-dismiss="modal">Ya</button>
                                                                            <button type="button" class="btn btn-modal close"  data-dismiss="modal" aria-label="Close">Tidak</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <a href="http://localhost:1700/cars/edit" class="btn btn-success"><i class='bx bx-edit'></i>&nbsp;Edit</a>
                                                        </div>
                                                      </div>
                                                </div>

                                            </div>
                                        </div> <!-- End of One Line Car Card -->

                                    </div> <!-- End of Car Card -->

                                </div> <!-- End of Cars Content -->

                            </div>
                        </div> <!-- End of Right Content -->

                    </div>
                </div>

            </div> <!-- End of Main Content -->

            <!-- ======= END OF CONTENT ======= -->

        </div>
        <!-- END OF MAIN -->

    </div>

    
    <!-- footer html di sini -->
    <%- include('../partials/html/footer') %>

</body>