<p class="card-text mobil-pinjam"><%- card.mobil %></p>
<h6 class="card-title harga-pinjam"><%- card.harga %></h6>
<p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;<%- card.waktu %></p>
<p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;<%- card.update %></p>