<p class="card-text mobil-pinjam"><%- mobil %></p>
<h6 class="card-title harga-pinjam"><%- harga %></h6>
<p class="card-text waktu-pinjam"><i class='bx bx-key'></i>&nbsp;<%- waktu %></p>
<p class="card-text update-pinjam"><i class='bx bx-time-five'></i>&nbsp;<%- update %>/p>