<div class="col-12">
    <div class="row">

        <!-- one card here -->
        <%- include('../cars/card') %>

        <!-- one card here -->
        <%- include('../cars/card') %>
        
        <!-- one card here -->
        <%- include('../cars/card') %>

    </div>
</div> <!-- End of One Line Car Card -->