<!-- ======= HEADER  ======= -->
<div id="header" class="header">
    <div class="container-fluid">
        <div class="row">

            <div class="col-auto">
                <div class="d-flex align-items-center">
                    <div class="col">
                        <div class="logo-panjang"></div>
                    </div>
                </div>
            </div> <!-- End of Long Logo -->

            <div class="col">
                <div class="d-flex">
                    <div class="col-auto">
                        <a href="#" class="menu-btn">
                            <i class='bx bx-menu'></i>
                        </a>
                    </div>
                </div>
            </div> <!-- End of Burger Menu -->

            <div class="col-auto">
                <div class="d-flex align-items-center">
                    <div class="col-auto">
                        <div class="d-flex align-items-center">
                            <form class="search-form d-flex align-items-center">
                                <i class='bx bx-search'></i>
                                <input type="text" placeholder="Search" class="search-input" title="Enter search keyword">
                            </form>
                            <button type="submit" title="Search" class="search-btn">Search</button>
                        </div>
                    </div> <!-- End of Search Bar -->

                    <div class="col-auto">
                        <div class="row">
                            <div class="user-img">
                                <div class="profile-pic rounded-circle d-flex  justify-content-center">
                                    <span class="initial-uname d-flex align-items-center justify-content-center">U</span>
                                </div>
                            </div>
                            <div class="user-name d-flex align-items-center justify-content-center">
                                <span class="uname">Unis Badri</span>
                            </div>
                            <div class="user-menu d-flex align-items-center justify-content-center">
                                <div class="user-menu__dropdown">
                                    <button class="btn menu-btn" type="button" id="dropdown-menu" data-toggle="dropdown" aria-expanded="false">
                                        <i class='bx bx-chevron-down bx-sm'></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu">
                                      <button class="dropdown-item" type="button">Profile</button>
                                      <button class="dropdown-item" type="button">Setting</button>

                                      <form action="/logout" method="POST">
                                        <button class="dropdown-item" type="button">Logout</button>
                                      </form>
                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  <!-- End of User Header -->

                </div>
            </div> <!-- End of User Header -->

        </div>
    </div>
</div>
<!-- ======= END OF HEADER ======= -->