<!-- SIDE MENU -->
<div id="side-menu">

    <div class="main-nav text-center">
        <div class="main-nav__logo">
            <a href="index.html">
                <div class="logo"></div>
            </a>
        </div>
        <div class="main-nav__item" >
            <a href="#"><i class='bx bx-home-alt icon'></i><br>Dashboard</a>
        </div>
        <div class="main-nav__item">
            <a href="#" class="cars"><i class='bx bxs-truck icon'></i><br>Cars</a>
        </div>
    </div>
</div>
<!-- END OF SIDE MENU -->